.wallet-container {
    height: fit-content;
    margin: 40px;
    padding: 20px;
    /* Adjust as needed */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.glassmorphism {
    background: rgba(255, 255, 255, 0.2);
    /* alpha value for opacity */
    /* border-radius: 10px; */
    /* Rounded corners */
    border: 1px solid rgba(255, 255, 255, 0.18);
    /* white border */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    /*  shadow for depth */
    backdrop-filter: blur(10px);
}

.addincomebutton {
    background: rgba(6, 218, 16, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    /* white border */
    box-shadow: 0 8px 12px rgba(245, 243, 243, 0.1);
    /*  shadow for depth */
    backdrop-filter: blur(10px);
    color: aliceblue;
}

.addexpensebutton {
    background: rgba(241, 35, 8, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    /* white border */
    box-shadow: 0 8px 12px rgba(245, 243, 243, 0.1);
    /*  shadow for depth */
    backdrop-filter: blur(10px);
    color: aliceblue;
}

.addexpensebutton2 {
    background: rgba(255, 113, 8, 0.856);
    border: 10px solid rgba(255, 255, 255, 0);
    border-radius: 3px;
    /* border */
    box-shadow: 0 8px 12px rgba(245, 243, 243, 0.1);
    /*  shadow for depth */
    backdrop-filter: blur(10px);
    color: aliceblue;
}
.addbalancebutton{
    background: rgba(255, 113, 8, 0.856);
    color: aliceblue;
    border-radius: 10px;
    border: 10px solid rgba(255, 255, 255, 0);
}

.glassmorphismButton,
input,
select,
select>option {
    background: rgba(255, 255, 255, 0.2);
    /* alpha value for opacity */
    border-radius: 10px;
    /* Rounded corners */
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    margin: 10px;
    padding: 15px;
    font-weight: bold;
}

.wallet-card-container {
    margin: 40px;
    padding: 20px;
    min-width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
}

.wallet-income-expense-container {
    width: 50%;
    display: flex;
}

.wallet-card-container>button {
    width: 60%;
    margin: 10px auto;
    height: 50px;
    cursor: pointer;
}

.income-amount {
    color: rgb(64, 240, 64);
}

.expense-amount {
    color: rgb(248, 137, 46);
}

.modal-header {
    margin: 0 auto;
}

.modal-form-income {
    display: flex;
    padding: 10px;
}

.select-option>option {
    padding: 5px;
}